-
 var caselist_message =  [
    {'momo':['case1.png'],'casename':['国际游泳小姐沫沫'],'caseflaw':['玻尿酸、肉毒杆菌、人胎素、'],'caseproject':['玻尿酸、肉毒杆菌、人胎素、玻尿酸、肉毒杆菌、人胎素'],'caseimg1':['case1_1.jpg'],'caseimg2':["case1_2.jpg"]},
    {'momo':['case1.png'],'casename':['国际游泳小姐沫沫'],'caseflaw':['玻尿酸、肉毒杆菌、人胎素、'],'caseproject':['玻尿酸、肉毒杆菌、人胎素、玻尿酸、肉毒杆菌、人胎素'],'caseimg1':['case1_1.jpg'],'caseimg2':["case1_2.jpg"]},
    {'momo':['case1.png'],'casename':['国际游泳小姐沫沫'],'caseflaw':['玻尿酸、肉毒杆菌、人胎素、'],'caseproject':['玻尿酸、肉毒杆菌、人胎素、玻尿酸、肉毒杆菌、人胎素'],'caseimg1':['case1_1.jpg'],'caseimg2':["case1_2.jpg"]},
    {'momo':['case1.png'],'casename':['国际游泳小姐沫沫'],'caseflaw':['玻尿酸、肉毒杆菌、人胎素、'],'caseproject':['玻尿酸、肉毒杆菌、人胎素、玻尿酸、肉毒杆菌、人胎素'],'caseimg1':['case1_1.jpg'],'caseimg2':["case1_2.jpg"]}
 ]
doctype html
html
   head
      meta(charset="utf-8")
      title 重庆新PC站
      meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no")
      link(rel='styleSheet', href='css/bootstrap.min.css')
      link(rel='styleSheet', href='css/style.css')
      script(src='js/jquery-2.1.4.min.js')
   body
   include public/header
   section#caselist
      .container
         h2 美容案例
         each cname, i in caselist_message
            .row
               .col-md-3.text-center
                  .margin-box
                     img(src='images/#{cname.momo}' alt='案例')
               .col-md-3
                  .margin-box
                     h4 #{cname.casename}
                     p.
                        美丽缺陷：<br/>
                        #{cname.caseflaw}
                     p.
                        整容项目：<br/>
                        #{cname.caseproject}
                     .public-button.pull-left
                        a(href='#', target='_blank') 马上参加
                     .public-button.pull-left
                        a(href='#', target='_blank') 马上参加
               .col-md-3.text-right
                  .margin-box.position-r
                     img(src='images/#{cname.caseimg1}' alt='案例')
                     .position-a.case-bef 术前
               .col-md-3
                  .margin-box.position-r
                     img(src='images/#{cname.caseimg2}' alt='案例')
                     .position-a.case-aft 术后
   include public/footer